.hero-video {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.hero-video .hero-overlay {
  position: relative;
  z-index: 2;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fixed-img {
  width: 100%;
  height: 250px;      /* adjust height as needed */
  object-fit: cover; /* crops image nicely */
}
