body {
  font-family: 'Poppins', sans-serif;
}

.hero {
  height: 100vh;
  background: url("images/hero.jpg") center / cover no-repeat;
  position: relative;
  color: white;
}

.hero-overlay {
  background: rgba(0,0,0,0.55);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

.hero p {
  font-size: 1.2rem;
}

footer p {
  margin: 5px 0;
}



